body {

  padding: 10px;
  background: linear-gradient(45deg, rgb(13,70,143), rgb(62,83,110) );
    height: 100vh;

  
    
    background: 
        linear-gradient(rgba(13, 70, 143, 1), rgba(62, 83, 110, 0.5)),
        url('https://grainy-gradients.vercel.app/noise.svg'); 
    
    background-size: 150px, 150px;
    background-repeat: repeat;

}
